body{
     background-image: url("images/GitHub.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    font-family: Helvetica sans-serif;
    font-size: 18px;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
    z-index: 0;
    height: 60px;
    background-color:cornflowerblue;
}
ul{
    display: block;
    margin: 10px auto;
    width: 250px;
}

header ul li{
    display: inline-block;
    padding: 15px 9px;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 59px;
}
code{
    border: 0px solid #9DA6B3;
    background-color:grey;
    font-family: monospace sans-serif;
    font-size: 16px;
    font-weight: bold;
}

section{
    background-color:white;
    color:black;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    word-wrap:break-word;
    position: relative;
    z-index: -1; 
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: aliceblue;
}

#sec{
     z-index: -1;
     margin-top: 100px;
}

span{
    color:blue;
}

@media screen and (max-width: 480px) {
    section{
        width: 280px;
    }
}
@media screen and (max-width: 300px) {
    section{
        width: 180px;
    }
}